<div id="page-content">
	<div class="cont932">
	<div id="journal-articles-block">
		<div class="journal-article">
			<div class="journal-post-info">
				<div class="journal-cat-box">
				{% assign categories_list = page.categories %}
				{% assign category = categories_list.first %}
				{% include themes/Snail/category.html %}
				{% assign categories_list = nil %}
				</div>
			</div>
			<div class="journal-body">
				<h1 class="journal-title">{{ page.title }}<span class="author">{% if page.tagline %}{{page.tagline}}{% endif %}</span>
				</h1>
				<HR style="border:1 dashed #987cb9" width="80%" color=#987cb9 SIZE=1>
				<div class="journal-date">发布时间 {{ page.date | date_to_long_string }} </br><span id="busuanzi_container_page_pv">
  访问次数 <span id="busuanzi_value_page_pv"></span>
</span>
				<span class="the-article">
				{{ content }}
				</span>
				<!-- <HR style="border:1 dashed #987cb9" width="80%" color=#987cb9 SIZE=1>
				<div class="journal-date">Published {{ page.date | date_to_long_string }} </br><span id="busuanzi_container_page_pv">
  Reviews <span id="busuanzi_value_page_pv"></span>
</span> -->
				<div class="journal-tags">
				{% assign tags_list = page.tags %}
				{% include themes/Snail/tags_list %}
				</div>
			</div>
		</div>
		<div class="clearboth"></div>
	</div>
</div>
	<div class="clearboth"></div>
	{% include JB/comments %}
	<div class="clearboth"></div>
</div>
